{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    <div class="pagecontent">
        <div class="authpage">
            <div>
                <h1>{% trans "Sign Out" %}</h1>
            
            
                <p>{% trans 'Are you sure you want to sign out?' %}<p>
            </div>
            <div class="">
                <form class="formcenter"method="post" action="{% url 'account_logout'%}"> 
                 {% csrf_token %}
                <button class="button" type="submit">{% trans 'Sign Out' %}</button>
            </div>        
        </div>
    </div>
{% endblock content %}
