{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
{% if request.user|has_group:"attendance_officer" %}
<div class="form-container">
    <div class="reducesize">
        <h2>{{student.student_name }}  {{ student.student_surname }}</h2>
        <h3>{{absence.date}} {{ absence.session_id }}</h3>
        <div class="inline">
            <h3>Reason for absence:</h3>
            <h4 class="greentext box">{{ absence.reason_for_absence }}</h4>
        </div>
        <form method="post">
            {{ review }}
            {% csrf_token %}
            <button class="button" type="submit">Save </button>
        </form>
        
    </div>
    <div>
        <a class="button" href="{% url 'pending' %}">Pending absences</a>
        <a class="button" href="{% url 'landing' %}">Main menu</a>
    </div>
</div>
{% endif %}
{% endblock %}

