{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
{% if request.user|has_group:"parent" %}
<div >
    <h2 class="textcenter">{{childsurname }}  {{ childname }}</h2>
    <h3 class="textcenter">{{ childname}}'s attendance percentage is: {{ attendancepercentage }}%</h3>
    <div class="form-container">
        <table>
            <tr>
                <th>Date</th>
                <th>Session</th>
                <th>Mark</th>
                <th>Status</th>
                <th>Code</th>
                <th>Reason for absence</th>        
            </tr>    
            {% for record in child_page %}
            <tr>   
                <td>{{ record.date }}</td>
                <td>{{ record.subject }}</td>
                <td>
                {% if record.mark == 1 %}
                <a href="{% url 'givereason' childcode record.date record.session_id_id %}">{{record.get_mark_display }}</a>
                {% else %}
                {{ record.get_mark_display }}
                {% endif %}
                </td>
                <td>{{ record.get_status_display }}</td>
                <td>{{ record.get_code_display }}</td>
                <td class="longer-column">{{ record.reason_for_absence }}
                    
            </tr>
            {% endfor %}
        </table>
        <div class="pagination">
        <span class="step-links">
            {% if child_page.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ child_page.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ child_page.number }} of {{ child_page.paginator.num_pages }}.
            </span>

            {% if child_page.has_next %}
                <a href="?page={{ child_page.next_page_number }}">next</a>
                <a href="?page={{ child_page.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
    <div>
        <a class="button" href="{% url 'landing' %}">Main menu</a>
    </div>
    <div class="turn-message" id="turn-message">
        <h1>Please, <br>turn your device <br>round!</h1>
    </div>

</div>
{% endif %}
{% endblock %}
