{% extends "base.html" %}
{% load static %}
{% load custom_tags %}


{% block content %}
{% if request.user|has_group:"parent" %}
<div>
    <h1 class="textcenter">Report your child's absence</h1>
    <h2 class="textcenter">{{ child.student_name }} {{ child.student_surname }}</h1>
    <p class="textcenter">Please, click on the session your child will be missing. Report every session they wil be missing.</p>
    <div class="form-container">
        <table>
            <tr>
                <th> </th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thrusday</th>
                <th>Friday</th>
            </tr>
            <tr>
                <th>Morning</th>
                <td><a href="{% url 'reportabsence' child.student_code timetablevalues.M0.session_id %}">{{ timetablevalues.M0.subject_name}}</a></td>
                <td><a href="{% url 'reportabsence' child.student_code timetablevalues.10.session_id %}">{{ timetablevalues.10.subject_name}}</a></td>
                <td><a href="{% url 'reportabsence' child.student_code timetablevalues.20.session_id %}">{{ timetablevalues.20.subject_name}}</a></td>
                <td><a href="{% url 'reportabsence' child.student_code timetablevalues.30.session_id %}">{{ timetablevalues.30.subject_name}}</a></td>
                <td><a href="{% url 'reportabsence' child.student_code timetablevalues.40.session_id %}">{{ timetablevalues.40.subject_name}}</a></td>
            </tr>
            <tr>
                <th>Afternoon</th>
                <td><a href="{% url 'reportabsence' child.student_code timetablevalues.M1.session_id %}">{{ timetablevalues.M1.subject_name}}</a></td>
                <td><a href="{% url 'reportabsence' child.student_code timetablevalues.11.session_id %}">{{ timetablevalues.11.subject_name}}</a></td>
                <td><a href="{% url 'reportabsence' child.student_code timetablevalues.21.session_id %}">{{ timetablevalues.21.subject_name}}</a></td>
                <td><a href="{% url 'reportabsence' child.student_code timetablevalues.31.session_id %}">{{ timetablevalues.31.subject_name}}</a></td>
                <td><a href="{% url 'reportabsence' child.student_code timetablevalues.41.session_id %}">{{ timetablevalues.41.subject_name}}</a></td>
            </tr>
        </table>
    </div>
    <div class="buttons-page">
        <a class="button" href="{% url 'childrecord' child.student_code %}">View attendance record</a>
        <a class="button" href="{% url 'landing' %}">Main menu</a>
    </div>
    <div class="turn-message" id="turn-message">
        <h1>Please, <br>turn your device <br>round!</h1>
    </div>
</div>
{% endif %}
{% endblock %}
