{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
{% if request.user|has_group:"teacher" %}
<div >
    <h2 class="textcenter">{{ subject.subject_name }}</h2>
    <div class="form-container">
        <table>
            <tr>
                <th>Surname</th>
                <th>Name</th>
                <th>Percentage attendance</th>        
            </tr>    
            {% for student in students %}
            <tr>   
                <td>{{ student.student_surname }}</td>
                <td><a href="{% url 'classdetail' subject.subject_name student.student_code %}">{{ student.student_name }}</a></td>
                <td class="redalert">{{ student.attendance }}</td>        
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div>
    <a class="button" href="{% url 'landing' %}">Main menu</a>
</div>
{% endif %}
{% endblock %}
