{% extends "base.html"  %}
{% load static %}
{% load custom_tags %}
<!--
{% url 'newstudent' as newstudent_url %}
{% url 'students' as students_url %}
-->

{% block content %}
<div>
    {% if user.is_authenticated %}
        {% if request.user|has_group:"teacher" %}
            <div>
                <a class="button" href="{% url 'students' %}">Student list</a>
                <a class="button" href="{% url 'newparent' %}">Add parent</a>
                <a class="button" href="{% url 'newstudent' %}">Add student</a>
                <a class="button" href="{% url 'newteacher' %}">Add teacher</a>
                <a class="button" href="{% url 'getregister' %}">Register</a>
            </div>
            <div>
        {% elif request.user|has_group:"parent" %}
            <div>
                <h1>Click on the required child's student_code</h1>
                
                <table>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Surname</th>
                        
                    </tr>
                    
                    {% for child in children %}
                    <tr>
                        <td>{{ child.student_code }}</td>
                        <td>{{ child.student_name}}</td>
                        <td>{{ child.student_surname }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td coldspan="3">DEBUG: Empty list</tr>
                        </tr>
                    {% endfor %}
                </table>



                <a class="button">Report an absence</a>
            
            </div>
        {% else %}
            <div>
                <h1>Go away!</h1>
            </div>
        {% endif %}
        
    {% endif %}

{% endblock %}