{% extends "base.html"  %}
{% load static %}
{% load custom_tags %}
<!--
{% url 'newstudent' as newstudent_url %}
{% url 'students' as students_url %}
-->

{% block content %}
<div>
    {% if user.is_authenticated %}
        {% if request.user|has_group:"teacher" %}
            <div>
                <a class="button" href="{% url 'students' %}">Student list</a>
                <a class="button" href="{% url 'newparent' %}">Add parent</a>
                <a class="button" href="{% url 'newstudent' %}">Add student</a>
                <a class="button" href="{% url 'remove' %}">Remove student</a>
                <a class="button" href="{% url 'newteacher' %}">Add teacher</a>
                <a class="button" href="{% url 'getregister' %}">Register</a>
                <a class="button" href="{% url 'pending' %}">Pending absences</a>
                <a class="button" href="{% url 'truanting' %}">Truanting students</a>
                <a class="button" href="{% url 'myclass' %}">See my class</a>
            </div>
        {% elif request.user|has_group:"parent" %}
            <div>
                <h1>Please, click on the required child's code</h1>
                
                <table>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Surname</th>
                        
                    </tr>
                    
                    {% for child in children %}
                    <tr>
                        <td><a href="{% url 'childdetail' child.student_code %}">{{ child.student_code }}</a></td>
                        <td>{{ child.student_name}}</td>
                        <td>{{ child.student_surname }}</td>
                    </tr>
                    {% endfor %}
                    
                </table>
            
            </div>
        {% else %}
            <div>
                <h1>Go away!</h1>
            </div>
        {% endif %}
        
    {% endif %}

{% endblock %}