{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
{% if request.user|has_group:"teacher" %}
<div class="form-container">
    <div class="reducesize">
        <h1>Enter the class' details.</h1>
        <form method="post">
            {% csrf_token %}
            {{ classlist }}
            <button class="button" type="submit">Get my class</button>
        </form>
    </div>
    <div>
        <a class="button" href="{% url 'landing' %}">Main menu</a>
    </div>
</div>
{% else %}
    <div>
        <p>Sorry, you don't have the required permissions</p>
        <a class="button" href="{% url 'landing' %}">Main menu</a>
    </div>
{% endif %}
{% endblock %}