{% extends "base.html" %}
{% load static %}
{% load custom_tags %}


{% block content %}
{% if request.user|has_group:"admissions_officer" %}
<div class="form-container">   
    <div class="reducesize">
        <h1>Student's information</h1>
        <p> Ensure parent has been registered before attempting to register student</p>
        <form method="post">
            {{ studentform }}
            {% csrf_token %}
            <button class="button" type="submit">Save student</buttton>
        </form>
    </div>
    <div>
        <a class="button" href="{% url 'landing' %}">Main menu</a>
    </div>
</div>
{% else %}
<div>
    <p> Sorry, you dont't have the required permission</p>
    <a class="button" href="{% url 'landing' %}">Main menu</a>
</div>
{% endif %}
{% endblock %}