{% extends "base.html" %}
{% load static %}
{% load custom_tags %}


{% block content %}
{% if request.user|has_group:"teacher" %}

<div class="form-container">

    
    <div class="reducesize">
        <h1>Student's information</h1>
        <p> Ensure parent has been registered before attempting to register student</p>
        <form method="post">
            {{ studentform }}
            {% csrf_token %}
            <button class="button" type="submit">Save user</buttton>
        </form>
    </div>
</div>
{% else %}
<div>
    <a class="button" href="{% url 'landing' %}">Main menu</a>
</div>

{% endif %}



{% endblock %}