{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
<h2 class="textcenter"> Pending absences</h2>
<div class="form-container">
    {% if request.user|has_group:"attendance_officer" %}
    {% if pending %}
    <table>
        <tr>
            <th>Code</th>
            <th>Date</th>   
            <th>Session_id</th>
            <th>Mark</th>
            <th>Status</th>
        </tr>
        {% for student in pending %}
        <tr>
            <td class="medium-column">{{ student.student_code }}</td>
            <td><a href="{% url 'absencedetail' student.student_code.student_code student.date student.session_id_id %}">{{ student.date}}</a></td>    
            <td class="longer-column">{{ student.session_id }}</td>
            <td>{{ student.get_mark_display }}</td>
            <td>{{ student.get_status_display }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="textcenter">There are no pending absences</p>
    {% endif %}
</div>
<div>
    <a class="button" href="{% url 'landing' %}">Main menu</a>
</div>
{% endif %}
{% endblock %}