{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}

{% if request.user|has_group:"admissions_officer" %}

<div class="form-container">
    <div class="reducesize">
        <h1>Enter the session's details.</h1>
        <form method="post">
            {{ removeform}}
            {% csrf_token %}
            <button class="button" type="submit">Save</button>
        </form>
    </div>
    <div>
        <a class="button" href="{% url 'landing' %}">Main menu</a>
    </div>
</div>

{% else %}
    <p>Sorry, you don't have the required permission</p>
    <div>
        <a class="button" href="{% url 'landing' %}">Main menu</a>
    </div>
{% endif %}
{% endblock %}