{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}

{% if request.user|has_group:"admissions_officer" %}

<h2>{{studentsurname }}  {{ studentname }}</h2>


<table>
    <tr>
        <th>Date</th>
        <th>Session</th>
        <th>Mark</th>
        <th>Status</th>
        <th>Code</th>
            
    </tr>
        
    {% for record in student_records %}
    <tr>
            
        <td>{{ record.date }}</td>
        <td>{{ record.session_id }}</td>
        <td>{{ record.get_mark_display }}</td>
        <td>{{ record.get_status_display }}</td>
        <td>{{ record.get_code_display }}</td>
            
    <tr>
    {% endfor %}
</table>



{% endif %}
{% endblock %}

