{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
{% if request.user|has_group:"teacher" %}
<div class="form-container">
    <table>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Gender</th>
            <th>Group</th>
            <th>Music option</th>
            <th>Attendance</th>
        </tr>
        {% for student in students %}
        <tr>
            <td><a href="{% url 'studentdetail' student.student_code %}">{{ student.student_code }}</a></td>
            <td>{{ student.student_name}}</td>
            <td>{{ student.student_surname }}</td>
            <td>{{ student.get_sex_display }}</td>
            <td>{{ student.get_group_display }}</td>
            <td>{{ student.get_music_option_display }}</td>
            <td class="redalert">{{ student.attendancepercentage }}</td>
        <tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
<div>
<div class="turn-message" id="turn-message">
    <h1>Please, <br>turn your device <br>round!</h1>
</div> 
<div>   
    <a class="button" href="{% url 'landing' %}">Main menu</a>
</div>
{% endblock %}
