{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
{% if request.user|has_group:"attendance_officer" %}
<div >
    <h2 class="textcenter">{{ today }}</h2>
    <h2 class="textcenter">Truanting students</h2>
    {%if truantinglist %}
    <div class="form-container">
        <table>
            <tr>
                <th>Name</th>
                <th>Session</th> 
            </tr> 
            {% for student in truantinglist %}
            <tr>  
                <td class="medium-column">{{ student.student_code}}</td>
                <td class="longer-column">{{ student.session_id }}</td> 
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <form method="post">  
            {% csrf_token %}
            <button class="button" type="submit">Send email </button>
        </form>
    </div>
    {% else %}
    <p class="textcenter">There are no students truanting today</p>
    {% endif %}
</div>
<div class="buttons-page">   
    <a class="button" href="{% url 'landing' %}">Main menu</a>
</div>
{% endif %}
{% endblock %}

