{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}

{% if request.user|has_group:"attendance_officer" %}
<div >
    <h2>{{ today }}</h2>
    <h2>Truanting students</h2>

    <div class="form-container">
        <table>
            <tr>
                <th>Name</th>
                <th>Session</th>
                
                    
            </tr>
                
            {% for student in truantinglist %}
            <tr>
                    
                <td>{{ student.student_code}}</td>
                <td class="longer-column">{{ student.session_id }}</td>
                
                    
            <tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <form method="post">
                
                {% csrf_token %}
                <button class="button" type="submit" href="{% url 'landing'%}">Send email </button>
        </form>
    </div>
</div>



{% endif %}
{% endblock %}

