/* CSS variables*/
:root {
    
    --dark-purple: #440643;
    --purple: #730a71;
    --pink: #fde8fd;
    --barely-there-pink: #fef8fe;
    --barely-there-green: #f8fef8;
    --mid-green: #dffce0;
    --forest-green: #064407;
}


/* Base.html styling */
* {
    box-sizing: border-box;
}

 html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-grow : 1;
}
#content-container {
    flex-grow: 1; 
    background-color: var(--barely-there-pink);
}
header {
    display: flex;
    align-items: center;
    max-width: 100vw;
    min-height: 20vh;
    background-color: var(--purple);
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px;  
}
#header h1 {
    margin: 10px;
    color: var(--mid-green);
}

footer {
    background-color: var(--purple);
    display: grid;
    grid-template-columns: auto auto;
}
footer p {
    color: var(--mid-green);
    margin-left:50px;
}
footer p a {
    color: var(--mid-green);
    margin-left: 5px;
}
h1, h2, h3, p {
    color: var(--dark-purple);
}

form label {
    color: var(--dark-purple);
}
.greentext {
    color: var(--forest-green);
}


/*End of base.html styling */

/* Home html styling */
#home {
    min-height: 80vh;
    background: url(../images/background-picture.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#welcome {
    
    font-size: 3em;
    text-align: center;
    margin: 10px;
    color: var(--mid-green);

}
.logins {
    height: 70%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: end;  
}

.button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--dark-purple);
    color: var(--barely-there-green);
    margin: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;  
}
.button:hover {
    background-color: var(--purple);
}
/*landing page styling */
.buttons-page {
    display:grid;
    grid-template-columns: auto auto auto auto auto;

}

/* End of home.html styling */

/* tables styling */
table {
    color: var(--forest-green);
}
td, th {
    width: 100px;
    text-align: left;
}
tr {
    margin-bottom: 5px;
}
.longer-column {
    width: 200px;
}
.medium-column {
    width: 150px;
}
td a:link, td a:visited {
    color: var(--purple);
    text-decoration: underline;
}
/* End of tables styling */

/* Authentication pages styling */
.pagecontent {
    display:flex;
    
    justify-content: center;
    margin: 20px;
}

.authpage {
    display:flex;
    flex-direction: column;
    
    text-align: center;
}

/* Forms styling */
.form-container {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}  
.reducesize div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.reducesize {
    display: flex;
    width:50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}  


.formcenter {
    display: flex;
    justify-content: center;
}
.formleft {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.helptext {
    color: var(--forest-green);
}
form {
    width:50%;
}
form label {
    text-align: left;
    font-size: 1.2em;
}
form  input, form select {
    border-color: var(--forest-green);
    border-width: thin;

}
.box {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--forest-green);
    border-radius: 5px;
     
}

/* End of forms stylying */






/* Wher Do I put this? */
.textcenter {
    text-align:center;
}


