/* Base.html styling */

/*Push footer to end of page. */
main {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    max-width: 100vw;
    min-height: 20vh;
    background-color:blueviolet;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px;  
}
#header h1 {
    margin: 10px;
}
body {
   min-width: 100vw;
   margin: 0;
}
footer {
    background-color:blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
/* Place background */
#content-container {
    min-height: 80vh;
    
    background-color: rgb(232, 226, 230);
}
/* Not needed? 
#content-container p {
    text-align: right;
    margin: 20px;
} */


/*End of base.html styling */

/* Home html styling */
#home {
    min-height: 80vh;
    background: url(../images/background-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px;
    display: flex;
    flex-direction: column;
    

}

#welcome {
    
    font-size: 3em;
    text-align: center;
    margin: 10px;

}
.logins {
    height: 70%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: end;  
}


.button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color:rgb(99, 49, 72);
    color:aquamarine;
    margin: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    

    
}
/* End of home.html styling */

/* students_lsit.html styling */
td, th {
    width: 100px;
    text-align: left;
}
/* End of students_list.html styling */

/* Authentification pages styling */
.pagecontent {
    display:flex;
    
    justify-content: center;
    margin: 20px;
}

.authpage {
    display:flex;
    flex-direction: column;
    
    text-align: center;
}
.formcenter {
    display: flex;
    justify-content: center;
}
.formleft {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
form label {
    text-align: left;
}
