{% load static %}

{% url 'home' as home_url %}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Lucella Attendance Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />   
    <!-- Custom Css-->     
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div id="header">
            <span>Logo</span>
            <h1>Lucella High school</h1> 
        </div>
        <div>
            {% if user.is_authenticated %}
            <div class="login">
                <a class="button" href="{% url 'account_logout' %}">Log out</a>
            </div>
            {% endif %}
        </div>
    </header>
    <main>
        <div id="content-container">

        {% if messages %}
            <div>
                {% for message in messages %}
                <div class="alert-box {{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        
            {% block content %}
            
            {% endblock content %}
        </div>
    </main>
    <footer>
        <p>Contact: </p>
        <p>Follow us:  </p>
    </footer>



</body>