{% load static %}

{% url 'home' as home_url %}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Lucella Attendance REgister</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    {% block meta_description %}  
    <meta name=""description" content="Home page">
    {% endblock %}
    <!-- Custom Css-->
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

    <header>
        <div id="header">
            <h1>Logo</h1>
            <h1>Lucella High school</h1> 
        </div>
        <div>
            {% if user.is_authenticated %}
            <div class="login">
                <a class="button" href="{% url 'account_logout' %}">Log out</a>
            </div>
            {% endif %}
        </div>
    </header>
    <main>
        <div id="content-container">

        {% if messages %}
            <div>
                {% for message in messages %}
                <div class="alert-box { message.tags }}">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        
            {% block content %}
            
            {% endblock content %}
        </div>
    </main>
    <footer>
        <p>Contact: <a href="mailto:lucellahighschool@gmail.com">  lucellahighschool@gmailcom</a></p>
        <p>Follow us: <a href="https://facebook.com" target="_blank" rel="noopener no referrer"><i class="fa-brands fa-facebook-f"></i></a><a href="https://x.com" target="_blank" rel="noopener no referrer"><i class="fa-brands fa-twitter"></i></a> </p>
    </footer>


<!-- Font awesome -->
<script src="https://kit.fontawesome.com/39f1e1f60d.js" crossorigin="anonymous"></script>


</body>